body {
  background-color: #a3a4ff;
  margin: 0;
  padding: 0;
  font-size: 16px;
  color: #fff;
}
/* Hero section */
.hero--container {
  height: 550px;
  width: 100vw;
  background: url("https://images.pexels.com/photos/823696/pexels-photo-823696.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940") no-repeat center center fixed;
  background-size: cover;
  background-clip: unset;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.header__navbar {
  width: 50%;
}
.header--text {
  margin-left: 10px;
}
.navbar__list {
  display: flex;
  justify-content: space-around;
  list-style: none;
}
.navbar__list .list--item {
  margin: 0 10px;
}
.title--container {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.main__title {
  justify-content: center;
  align-self: center;
  font-size: 2.5em;
}
.main-input-container {
  width: 50%;
  border-radius: 100px;
  border: 2px solid #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  align-self: center;
  background-color: rgba(255,255,255,0.8);
}
.main-input input {
  width: 500px;
  height: 40px;
  border: none;
  outline: none;
  text-align: center;
  background-color: rgba(255,255,255,0.4);
}
__:hover {
  box-shadow: 2px 4px 8px 0px 0;
  border-color: rgba(223,225,229,0);
}
.main-input .search-icon {
  background-image: url("https://upload.wikimedia.org/wikipedia/commons/thumb/7/7e/Vector_search_icon.svg/945px-Vector_search_icon_svg.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  width: 18px;
  height: 18px;
  margin-left: 10px;
  padding-left: 10px;
}
.main-input .micro-icon {
  background-image: url("https://image.flaticon.com/icons/svg/54/54541.svg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  width: 18px;
  height: 18px;
  margin-right: 10px;
  padding-left: 5px;
  cursor: pointer;
}
/* Main section */
.main {
  border-radius: 15px;
  border: 2px solid #fff;
}
.main--container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.images--container {
  display: flex;
  justify-content: center;
}
.images--container .item {
  width: 350px;
}
.images--container .item img {
  display: block;
  height: 100%;
  width: 100%;
  object-fit: cover;
}
.button--container {
  display: flex;
  justify-content: center;
  margin-top: 10px;
}
.button {
  width: 15%;
  height: 40px;
  border-radius: 25px;
  border: 2px solid #fff;
  background-color: rgba(255,192,75,0.9);
  border: none;
  color: #fff;
  margin: 15px 0;
  box-shadow: 2px 4px 8px 0px #3e3c3c;
}
.button:hover {
  background-color: rgba(255,192,75,0.75);
  cursor: pointer;
}
.button a {
  color: #fff;
  text-decoration: none;
}
.map--container {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}
.facebook-container {
  width: 200px;
  height: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  color: #000;
  padding: 5px;
  margin: 15px;
  border-radius: 25px;
  border: 2px solid #fff;
  background-color: rgba(255,255,255,0.5);
  box-shadow: 2px 4px 8px 0px #3e3c3c;
}
.facebook-container:hover {
  background-color: rgba(255,255,255,0.25);
  color: #fff;
  cursor: pointer;
}
.facebook-container-login {
  width: 235px;
  height: 35px;
}
.image {
  width: 50px;
  justify-self: flex-end;
}
/* Footer section */
.footer {
  width: 100%;
  display: flex;
  justify-content: space-between;
  padding: 10px;
  margin-top: 20px;
}
.footer-left,
.footer-right {
  width: 50%;
  display: flex;
  justify-content: space-around;
  list-style: none;
  padding: 5px;
}
.footer a {
  text-decoration: none;
  color: #808080;
}
.footer a:hover {
  color: #000;
}
/* Login section */
.register {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  flex-direction: column;
  min-height: calc(100vh - p);
  padding: 0 30px;
}
.register__container,
.register__container--form {
  display: flex;
  flex-direction: column;
}
.register__container {
  color: #fff;
  min-height: 700px;
  width: 300px;
  border-radius: 50px;
  border: 2px solid #fff;
  background-color: rgba(175,170,170,0.35);
  justify-content: space-around;
  align-items: center;
  padding: 60px 68px 40px;
}
.register__container--remember-me {
  margin: 15px 0;
}
.register__container--remember-me label {
  padding: 2px;
  display: flex;
  justify-content: space-around;
}
.register h2 {
  display: flex;
  align-self: flex-start;
  background-color: transparent;
}
.register--input {
  background-color: transparent;
  border-left: 0;
  border-top: 0;
  border-right: 0;
  border-bottom: 2px solid #fff;
  margin-bottom: 16px;
  height: 5px;
  outline: none;
  padding: 20px;
}
.register--input:hover {
  border-bottom: 4px solid #fff;
}
.register--button {
  border-radius: 25px;
  border: 2px solid #fff;
  border: none;
  color: #fff;
  font-weight: bold;
  height: 50px;
  margin: 12px 0;
  background-color: rgba(0,0,0,0.8);
  box-shadow: 2px 4px 8px 0px #3e3c3c;
}
.register--button:hover {
  cursor: pointer;
  text-decoration: underline;
  background-color: rgba(0,0,0,0.5);
}
::placeholder {
  color: #fff;
}
::placeholder:hover {
  font-weight: bold;
}
.login--button {
  color: #fff;
  text-decoration: none;
  font-weight: bold;
}
.login--button:hover {
  text-decoration: underline;
  cursor: pointer;
}
@media screen and (max-width: 768px) {
  .register__containe {
    width: 70%;
    padding: 0;
  }
}
/* div
  background-color $seconday-color
  color white
  padding 1em
  margin sum(10px, 5)
  border-radius(15px) */
