body {
  background-color: #a3a4ff;
  margin: 0;
  padding: 0;
  font-size: 16px;
  color: #fff;
}
/* Hero section */
.hero--container {
  height: 550px;
  width: 100vw;
  background: url("https://images.pexels.com/photos/823696/pexels-photo-823696.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940") no-repeat center center fixed;
  background-size: cover;
  background-clip: unset;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.header__navbar {
  width: 35%;
}
.navbar__list {
  display: flex;
  justify-content: space-between;
  list-style: none;
}
.title--container {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.main__title {
  justify-content: center;
  align-self: center;
  font-size: 2.5em;
}
.main-input-container {
  width: 50%;
  border-radius: 100px;
  border: 1px solid #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  align-self: center;
  background-color: rgba(255,255,255,0.8);
}
.main-input input {
  width: 80%;
  height: 40px;
  border: none;
  outline: none;
  text-align: center;
  background-color: rgba(255,255,255,0.4);
}
__:hover {
  box-shadow: 0 1px 6px rgba(32,33,36,0.278);
  border-color: rgba(223,225,229,0);
}
.main-input .search-icon {
  background-image: url("https://upload.wikimedia.org/wikipedia/commons/thumb/7/7e/Vector_search_icon.svg/945px-Vector_search_icon_svg.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  width: 18px;
  height: 18px;
  margin-left: 10px;
  padding-left: 10px;
}
.main-input .micro-icon {
  background-image: url("https://image.flaticon.com/icons/svg/54/54541.svg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  width: 18px;
  height: 18px;
  margin-right: 10px;
  padding-left: 5px;
  cursor: pointer;
}
/* Main section */
.main {
  border-radius: 15px;
  border: 1px solid #fff;
}
.main--container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.images--container {
  display: flex;
  justify-content: center;
}
.images--container .item {
  width: 350px;
}
.images--container .item img {
  display: block;
  height: 100%;
  width: 100%;
  object-fit: cover;
}
.button--container {
  display: flex;
  justify-content: center;
  margin-top: 10px;
}
.map--container {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}
/* Footer section */
.footer {
  width: 100%;
  display: flex;
  justify-content: space-between;
  padding: 10px;
}
.footer-left,
.footer-right {
  width: 50%;
  display: flex;
  justify-content: space-around;
  list-style: none;
}
.footer a {
  text-decoration: none;
  color: #808080;
}
/* div
  background-color $seconday-color
  color white
  padding 1em
  margin sum(10px, 5)
  border-radius(15px) */
