@import "Components/_variables.styl"
@import "Components/_mixins.styl"
@import "Components/_functions.styl"

@import "Layout/_nav.styl"
@import "Layout/_body.styl"
@import "Layout/_icons.styl"    
@import "Layout/_mainLogo.styl"
@import "Layout/_portafolios.styl"
@import "Layout/_footers.styl"
