body  
    margin: 0
    padding: 0
    background-color: color-body
    &::-webkit-scrollbar {
    display: none;
    
}

body:before
        box-sizing border-box
body:after
        box-sizing: border-box;


