.container-logo 
    width: 100vw
    //height 100vh
    display: flex
    justify-content: center
    overflow-y: hidden
    
    & img 
        width 1059px
        height: 596px

.container-trazado
    width: 100vw
    //height 100vh
    display: flex
    justify-content: center
    align-items: center
    position relative
    & img        
        width: 1994,11px
        height 1986,2px
    & .quienes-somos
        position absolute
        text-align center
        top 500px
        
    & h2
        font-family 'Gotham Rounded';
        font-weight bold
        font-size: 44px
        color: white
    & p 
        font-family 'Gotham Rounded'
        font-weight 300 
        font-size 36px
        color: white 
  