nav 
    font-size font-size-nav
    font-family font-family-nav
    font-weight ancho-fuente
    font-style estilo-fuente
    display flex
    align-items: center
    margin-left margin-left-icon
    margin-top margin-top-icon
    max-width max-width-nav
    & a
        justify-content: center
    & a img
        width icon-width
        margin-left: 5px
    & h4
        font-size 18px
        margin-top 0
        margin-bottom 0    
