.Audiovisual
    max-width 100%
.audiovisual__tarjeta1
    display: flex
    align-items: center
    & figure 
        display block
        float left
        margin-left: 50px

.audivisual__tarjeta1-texto
    width: 25%

#target2__float-right
    display: flex
    align-items: center
    justify-content: flex-end
    & figure 
        display block
        float left
    