$yellow = #F7D31E
$black = #2D334A
$white = #EBEBEB

$bold = 800
$regular = 400

$font = 'Montserrat', sans-serif;
$space = 16px

$phone = 599px
$tablet = 1199px

mixin-titles($size)
  font-family $font
  font-weight $bold
  font-size $size
  line-height 1em

h1
  mixin-titles(65px)
  @media (max-width $tablet)
    font-size: (44px)
  @media (max-width $phone)
    font-size: (34px)

h2
  mixin-titles(44px)
  @media (max-width $tablet)
    font-size: (34px)
  @media (max-width $phone)
    font-size: (24px)

h3
  mixin-titles(34px)
  @media (max-width $tablet)
    font-size: (24px)
  @media (max-width $phone)
    font-size: (18px)

h4
  mixin-titles(24px)
  @media (max-width $tablet)
    font-size: (18px)
  @media (max-width $phone)
    font-size: (18px)

p
  font-family $font
  font-size $space
  font-weight $regular

a
  color $yellow
  font-size $space
  transition all 0.5s
  cursor pointer
  &:hover
    color $white

*
  margin 0
  padding 0

body 
  background-color $black

.hero
  display grid
  grid-template-columns 25% 1fr 25%
  min-height 70%vh
  padding-bottom $space * 5
  background $yellow
  @media (max-width $tablet)
    grid-template-columns 5% 1fr 5%
  &__info
    grid-column-start 2
    display flex
    flex-direction column
    justify-content center
    align-items center
    h1, p
      text-align center
      color $black
      text-align center
      margin-bottom $space
    .logo
      width 120px
      margin-bottom -($space / 2)

button 
  margin-top $space
  padding ($space) ($space * 3)
  border-radius ($space / 2)
  font-family $font
  font-weight $bold
  font-size $space
  background-color $black
  color $yellow
  border none 
  cursor pointer
  transition: all 0.5s
  &:hover
    background-color $white
    color $black 
    transform: scale(1.1)

svg 
  position absolute
  @media (max-width $phone)
    display none

.cover
  position relative 
  width 60%
  margin-top -($space * 8)
  margin-left 20%
  margin-right 20%
  border-radius $space
  @media (max-width $tablet)
    m

.body
  display grid
  grid-template-columns 15% 1fr 15%
  padding ($space * 4) 0
  @media (max-width $tablet)
    grid-template-columns 16px 1fr 16px
    padding ($space * 2) 0
    
  &__wrapper
    display flex
    flex-direction column
    grid-column-start 2
  &__theme
    margin-top $space * 2
    display flex
    flex-direction row
    align-items center
    justify-content center
    @media (max-width $phone)
      flex-direction column
    h3, p
      margin-bottom $space
    img 
      width 45%
      height auto
      padding $space
      border-radius $space
      @media (max-width $phone)
        width 90%
  &__info
    width 55%
    padding $space
    color $white
    @media (max-width $phone)
      width 90%

.tips
  padding ($space * 2) 0
  @media (max-width $phone)
    padding $space 0
  h2  
    margin-bottom $space*2
    text-align center
    color $white
  &__wrapper
    margin 0px 12%
    display flex
    flex-direction row
    @media(max-width $tablet)
      margin 0px 5%
    @media (max-width $phone)
      flex-direction column

  .trick
    width 25%
    display flex
    flex-direction column
    justify-content center
    align-items center
    padding $space * 2
    @media (max-width $phone)
      width 90%
      padding $space
    h4, p
      color $white
      text-align center
  .cta
    width 60%
    margin ($space * 2) auto
    background-color $yellow
    border-radius $space
    padding ($space * 2) 0px
    @media (max-width $tablet)
      margin ($space * 2) 10%
      padding $space / 2
    @media (max-width $phone)
      width 90%
      margin 0
    h3, p
      color $black
      margin-bottom $space * 2
      text-align center
      @media (max-width $phone)
        margin $space
    button
      text-align center
    &__info
      display flex
      flex-direction column
      justify-content center
      align-items center
      width 100%

.icon 
  margin $space
  width 40px
  color $black
  transition all .5s
  cursor pointer
  &:hover
    transform scale(1.2)

.prices
  display flex
  flex-direction column
  justify-content center
  align-items center
  padding ($space * 4) 0
  h2
    color $white
  &__article
    display flex
    flex-direction row
    justify-content space-between
    @media (max-width $phone)
      flex-direction column
  &__item
    display flex
    flex-direction column
    justify-content center
    align-items center
    background-color $white
    margin $space
    padding $space * 2
    border-radius $space
    transition all .5s
    &:hover
      transform scale(1.2)
  h4
    color $black
  h5
    color $black
    font-family $font
    font-size $space * 4
    font-weight $regular
  li
    color $black

.quote
  width 60%
  margin 0 auto
  color $yellow
  padding ($space * 2) ($space)
  text-align left
  @media (max-width $phone)
    width 80%
    padding 0 16px
    margin-bottom $space * 2
  h2 
    margin-bottom $space
    font-style italic
    font-weight $bold
  h5
    font-family $font
    font-size $space * 2
    font-weight $regular
    @media (max-width $phone)
      font-size $space


footer
  display flex
  flex-direction row
  flex-wrap nowrap
  background-color $yellow
  padding ($space * 4) 20%
  @media (max-width $tablet)
    flex-wrap wrap
    padding ($space * 2) 5%
  h4, p, a
    color $black
    img 
      width 220px
  .footer_info
    width 70% 
    padding $space
    @media (max-width $tablet)
      width 100%
  .footer_social
    width 30%
    padding $space
    @media (max-width $tablet)
      width 100%
    .social__wrapper
      display flex
      flex-direction row
      justify-content space-around
      padding-top $space * 2
      @media (max-width $phone)
        padding-top $space