$primary-color = #A3A4FF;
$seconday-color = #51527F;

border-radius(n)
  border-radius n
  border 1px solid white

sum(a, b)
  a + b

body
  background-color $primary-color
  margin 0
  padding 0
  font-size 16px

div
  background-color $seconday-color
  color white
  padding 1em
  margin sum(10px, 5)
  border-radius(15px)
