$yellow = #F7D31E
$black = #2D334A
$white = #EBEBEB

$bold = 800
$regular = 400

$font = 'Montserrat', sans-serif;
$space = 16px

$phone = 599px
$tablet = 1199px

mixin-titles($size)
  font-family $font
  font-weight $bold
  font-size $size
  line-height 1em

h1
  mixin-titles(65px)
  @media (max-width $tablet)
    font-size: (44px)
  @media (max-width $phone)
    font-size: (34px)

h2
  mixin-titles(44px)
  @media (max-width $tablet)
    font-size: (34px)
  @media (max-width $phone)
    font-size: (24px)

h3
  mixin-titles(34px)
  @media (max-width $tablet)
    font-size: (24px)
  @media (max-width $phone)
    font-size: (18px)

h4
  mixin-titles(24px)
  @media (max-width $tablet)
    font-size: (18px)
  @media (max-width $phone)
    font-size: (18px)

p
  font-family $font
  font-size $space
  font-weight $regular

a
  color $yellow
  font-size $space
  transition all 0.5s
  cursor pointer
  &:hover
    color $white

*
  margin 0
  padding 0

body 
  background-color $black

.hero
  display grid
  grid-template-columns 25% 1fr 25%
  min-height 70%vh
  padding-bottom $space * 5
  background $yellow
  @media (max-width $tablet)
    grid-template-columns 5% 1fr 5%
  &__info
    grid-column-start 2
    display flex
    flex-direction column
    justify-content center
    align-items center
    h1, p
      text-align center
      color $black
      text-align center
      margin-bottom $space
    .logo
      width 120px
      margin-bottom -($space / 2)

button 
  margin-top $space
  padding ($space) ($space * 3)
  border-radius ($space / 2)
  font-family $font
  font-weight $bold
  font-size $space
  background-color $black
  color $yellow
  border none 
  cursor pointer
  transition: all 0.5s
  &:hover
    background-color $white
    color $black 
    transform: scale(1.1)

svg 
  position absolute
  @media (max-width $phone)
    display none

.cover
  position relative 
  width 60%
  margin-top -($space * 8)
  margin-left 20%
  margin-right 20%
  border-radius $space

.body
  display grid
  grid-template-columns 15% 1fr 15%
  padding ($space * 4) 0
   @media (max-width $tablet)
    grid-template-columns 1% 1fr 1%
    padding ($space * 2) 0
    
  &__wrapper
    display flex
    flex-direction column
    grid-column-start 2
  &__theme
    display flex
    flex-direction row
    align-items center
    justify-content center
    @media (max-width $phone)
      flex-direction column
    h3, p
      margin-bottom $space
    img 
      width 45%
      height auto
      padding $space
      border-radius $space
      @media (max-width $phone)
        width 90%
  &__info
    width 55%
    padding $space
    color $white
    @media (max-width $phone)
      width 90%

.tips
  h2  
    margin-bottom $space*2
    text-align center
    color $white
  &__wrapper
    margin 0px 12%
    display flex
    flex-direction row
    @media(max-width $tablet)
      margin 0px 5%
    @media (max-width $phone)
      flex-direction column

  .trick
    width 25%
    display flex
    flex-direction column
    padding $space * 2
    @media (max-width $phone)
      width 90%
      padding $space
    h4, p
      color $white
  .cta
    width 60%
    margin ($space * 4) 20%
    background-color $yellow
    border-radius $space
    padding $space * 4
    @media (max-width $tablet)
      width 90%
      margin ($space * 2) 1%
      padding $space
    h3, p
      color $black
      margin-bottom $space * 2
    button
      text-align left

footer
  background-color $yellow
  padding ($space * 4) 20%
  @media (max-width $tablet)
    padding ($space * 2) 5%
    
  h4, p, a
    color $black
    img 
      width 220px
  .footer_info, .footer_social
    width 50%
    padding $space
    @media (max-width $phone)
      width 100%