/* body{background-color:#a3a4ff;margin:0;padding:0;font-size:16px}div{background-color:#51527f;color:#fff;padding:1em;margin:15px;border-radius:15px;border:1px solid #fff} */
.text-videojuegos{
    color:#2E83A5 !important;

}

#header img{
    width: 80px;

}
#main .carousel-inner img{
    max-height: 70vh;
    object-fit: cover;
    filter: grayscale(70%);
    
    }

#carousel{
    position:relative;
    
}
    
#carousel .overlay{
        position: absolute;
        top:0;
        bottom: 0;
        left: 0;
        right: 0;
        background-color: rgba(0,0,0,0.5);
        color: white;
    
}
    
#carousel .overlay .container,
#carousel .overlay .row{
    height: 100%;
    

}
.navbar-nav{
    font-size: 15px;
    

}

h5{
  color:white  
}