//tipografias
font-size-nav = 14px
font-family-nav = 'Gotham Rounded'
ancho-fuente = 500
estilo-fuente = normal


//iconos

icon-width = 30px

//imagen-logo
max-width-logo = 1059px

//Main
color-title-container = white
color-parraf-container = white 

//body
color-body = rgba(255, 255, 255, .8)

//Nav
margin-left-icon = 73px
margin-top-icon = 64px
max-width-nav = 200px